<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @task.user_id %></h1>
    <%= link_to "Edit", :action => :edit, :id => @task.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">UserId</td>
        <td class="itemValue"><%= @task.user_id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">AssignedTo</td>
        <td class="itemValue"><%= @task.assigned_to%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">CompletedBy</td>
        <td class="itemValue"><%= @task.completed_by%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Name</td>
        <td class="itemValue"><%= @task.name%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">AssetId</td>
        <td class="itemValue"><%= @task.asset_id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Priority</td>
        <td class="itemValue"><%= @task.priority%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Category</td>
        <td class="itemValue"><%= @task.category%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Bucket</td>
        <td class="itemValue"><%= @task.bucket%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">DueAt</td>
        <td class="itemValue"><%= @task.due_at%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">CompletedAt</td>
        <td class="itemValue"><%= @task.completed_at%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">DeletedAt</td>
        <td class="itemValue"><%= @task.deleted_at%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">CreatedAt</td>
        <td class="itemValue"><%= @task.created_at%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">UpdatedAt</td>
        <td class="itemValue"><%= @task.updated_at%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">BackgroundInfo</td>
        <td class="itemValue"><%= @task.background_info%></td>
      </tr>
      
    </table>
  </div>

</div>
