<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @account.object %>
    <h1>Edit <%= @account.user_id%></h1>
    <%= link_to "Delete", :action => :delete, :id => @account.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @account.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">User: </td>
              <td class="itemValue"><input type="text" name="account[user_id]" value="<%= @account.user_id %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Assigned to: </td>
              <td class="itemValue"><input type="text" name="account[assigned_to]" value="<%= @account.assigned_to %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Name: </td>
              <td class="itemValue"><input type="text" name="account[name]" value="<%= @account.name %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Email: </td>
              <td class="itemValue"><input type="text" name="account[email]" value="<%= @account.email %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Created at: </td>
              <td class="itemValue"><input type="text" name="account[created_at]" value="<%= @account.created_at %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
