<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @account.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @account.object %>"/>

          <div data-role="fieldcontain">
            <label for="account[category]" class="fieldLabel">Category</label>
            <input type="text" id="account[category]" name="account[category]" <%= placeholder("Category") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="account[user_id]" class="fieldLabel">User</label>
            <input type="text" id="account[user_id]" name="account[user_id]" <%= placeholder("User") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="account[assigned_to]" class="fieldLabel">Assigned to</label>
            <!-- <input type="text" id="account[assigned_to]" name="account[assigned_to]"  /> -->
			<select id="account[assigned_to]" name="account[assigned_to]">
			  <option value=""> Unassigned </option> 				
			  <% @users.each do |user| %> 
			    <option value="<%= user.object %>"> <%= user.full_name %> </option> 
			  <% end %>
			</select>
          </div>
      
          <div data-role="fieldcontain">
            <label for="account[name]" class="fieldLabel">Name</label>
            <input type="text" id="account[name]" name="account[name]" <%= placeholder("Name") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="account[email]" class="fieldLabel">Email</label>
            <input type="text" id="account[email]" name="account[email]" <%= placeholder("Email") %> />
          </div>
      
          <!-- <div data-role="fieldcontain">
            <label for="account[created_at]" class="fieldLabel">Created at</label>
            <input type="text" id="account[created_at]" name="account[created_at]" <%= placeholder("Created at") %> />
          </div> -->
      
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
