<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @contact.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @contact.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="contact[user_id]" class="fieldLabel">User</label>
            <input type="text" id="contact[user_id]" name="contact[user_id]" <%= placeholder("User") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="contact[lead_id]" class="fieldLabel">Lead</label>
            <input type="text" id="contact[lead_id]" name="contact[lead_id]" <%= placeholder("Lead") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="contact[assigned_to]" class="fieldLabel">Assigned to</label>
            <input type="text" id="contact[assigned_to]" name="contact[assigned_to]" <%= placeholder("Assigned to") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="contact[first_name]" class="fieldLabel">First name</label>
            <input type="text" id="contact[first_name]" name="contact[first_name]" <%= placeholder("First name") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="contact[last_name]" class="fieldLabel">Last name</label>
            <input type="text" id="contact[last_name]" name="contact[last_name]" <%= placeholder("Last name") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="contact[title]" class="fieldLabel">Title</label>
            <input type="text" id="contact[title]" name="contact[title]" <%= placeholder("Title") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="contact[email]" class="fieldLabel">Email</label>
            <input type="text" id="contact[email]" name="contact[email]" <%= placeholder("Email") %> />
          </div>
      
          <!-- <div data-role="fieldcontain">
            <label for="contact[created_at]" class="fieldLabel">Created at</label>
            <input type="text" id="contact[created_at]" name="contact[created_at]" <%= placeholder("Created at") %> />
          </div> -->
      
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
