<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= "#{@contact.first_name} #{@contact.last_name}" %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @contact.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">UserId</div>
            <div class="itemValue"><%= @contact.user_id %></div>
          </li>
      
          <li>
            <div class="itemLabel">LeadId</div>
            <div class="itemValue"><%= @contact.lead_id %></div>
          </li>
      
          <li>
            <div class="itemLabel">AssignedTo</div>
            <div class="itemValue"><%= @contact.assigned_to %></div>
          </li>
      
          <li>
            <div class="itemLabel">FirstName</div>
            <div class="itemValue"><%= @contact.first_name %></div>
          </li>
      
          <li>
            <div class="itemLabel">LastName</div>
            <div class="itemValue"><%= @contact.last_name %></div>
          </li>
      
          <li>
            <div class="itemLabel">Title</div>
            <div class="itemValue"><%= @contact.title %></div>
          </li>
      
          <li>
            <div class="itemLabel">Email</div>
            <div class="itemValue"><%= @contact.email %></div>
          </li>
      
          <!-- <li>
            <div class="itemLabel">CreatedAt</div>
            <div class="itemValue"><%= @contact.created_at %></div>
          </li> -->
      
    </ul>
  </div>

</div>
